.claude
.idea

# Python
__pycache__/
*.pyc

# Vite/Node
node_modules/
.vite/
.vite_deps/
*.log

# Environment
.env

# Python tools
.python-version

# Alembic bytecode
alembic/**/__pycache__/
db/**/__pycache__/
models/**/__pycache__/
routers/**/__pycache__/
services/**/__pycache__/


/frontend/dist/


/frontend/tsconfig.node.tsbuildinfo
/frontend/tsconfig.tsbuildinfoª
/frontend/tsconfig.tsbuildinfo
